@using System.Configuration ;
<form class="form-signin" id="resetLinkForm" action="@Url.Action("JsonGenerateResetLink", "Login")" method="post" data-bind="submit: DoReset" data-validationkey="resetLinkForm">
    <div class="form-signin-heading" translate="yes">
        <img src="~/content/images/maxproLogo.png" width="324" height="67">
    </div>
    <div id="generatelink">
        <b class="subheading pwdtitle">@Resources.Forgot_Password_title</b>
        <ul>
            <li>
                <div class="field">
                    <label id="lblFName" class="floatLblDn">@Resources.Email</label>
                    <input id="txtFName" name="txtFName" type="text" class="floatTxt myStyle" data-bind="value: email, valueUpdate: 'afterkeydown'" required="required">
                </div>
            </li>
        </ul>
        <div class="subText">
            (@Resources.Enter_Email_registered)
        </div>
            <div id="fgtpwdcaptcha" class="g-recaptcha" data-sitekey="@ConfigurationManager.AppSettings["recaptchaPublicKey"]"></div>
        <button type="submit" class="primary-button" id="btnsendlink" data-bind="click: DoReset, disable: disablesubmit">@Resources.Send_Link</button>
        <button class="secondary-button" type="button" data-bind="click: showLogin">@Resources.Cancel </button>
        <span class="error-msg">
            <span id="errormsg">@Resources.ResetPassword_Error_Message</span>
        </span>
    </div>
    <div id="mailsent" class="signin-complete" style="display: none">
        <div>
            <p class="signin-complete-content">
                @Resources.Email_sent
            </p>
        </div>
        
        <span class="ui-button-container" id="wrapperLoginBtn">
            <span class="controls">
                <button class="primary-button" data-bind="click: showLogin">@Resources.Go_to_Login</button>
            </span>
        </span>
    </div>
    <!--<div>@Resources.Call <a href="tel:@ViewBag.HelpLine">@ViewBag.HelpLine</a> @Resources.for_more_guidance </div>-->
</form>
