<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")*@
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAELQ9HPs8m_HCP4ICa66Pcq8x7j7bAXeI&sensor=false"></script>
</head>
<body>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
