<li class="ulClipFilterIconHolder">
    <span id="clpfltrdrpdwnspan" data-dropdown="0" class="ulClipFilterIcon" data-delay="100" data-close-others="false"></span>
    <ul id="ulClipSearchFilter" class="dropdown-menu dropdown-menu-form">        
        <li>
            <div class="tabbable">
                <ul class="nav nav-tabs clipSearchNav">
                    <li data-bind="click: $root.FilterType" class="active"><a data-target="today" data-toggle="tab">@Resources.Today</a></li>
                    <li data-bind="click: $root.FilterType"><a data-target="yesterday" data-toggle="tab">@Resources.Yesterday</a></li>
                    <li data-bind="click: $root.FilterType"><a data-target="custom" data-toggle="tab">@Resources.Custom</a></li>
                </ul>
                <div class="tab-content">
                    <ul>
                        <li>
                            <div id="ulfrmdatetimepicker" class="field bootstrap-timepicker right-inner-addon">
                                <span class="input-group-addon add-on">
                                    <b class="icon-time-popover"></b>
                                </span>
                                <label class="uldateLabel">@Resources.From</label>                                
                                <input data-format="@Resources.datetime_picker_format" id="frmdatetime" type="text" class="input-small add-on" readonly="" placeholder="@Resources.From" data-bind="value: $data.ClipFiltermodel.FromDatetime" />
                            </div>
                        </li>
                        <li>
                            <div id="ultodatetimepicker" class="field bootstrap-timepicker right-inner-addon">
                                <span class="input-group-addon add-on">
                                    <b class="icon-time-popover"></b>
                                </span>
                                <div data-bind="visible:$data.ClipFiltermodel.IsError">
                                    <span class="fieldError"><b class="icon-fieldError" data-bind="event:{mouseover:showerror,mouseout:hideerror}"></b></span>
                                    <div class="showerror dropdown-menu" style="display: block;"><span class="errorColor">@Resources.Warning!</span><span data-bind="text:$data.ClipFiltermodel.Errormessage"></span></div>
                                </div>
                                <label class="uldateLabel">@Resources.To</label>
                                <input data-format="@Resources.datetime_picker_format" id="todatetime" type="text" class="input-small add-on" readonly="" placeholder="@Resources.To" data-bind="value: $data.ClipFiltermodel.ToDatetime" />
                            </div>

                        </li>
                        <li>
                            <ul class="clipexportlist-item">
                                <li>
                                    <label class="formControl-checkbox">
                                        <input class="checkbox" type="checkbox" data-bind="checked: $data.ClipFiltermodel.IsMotionEvent">
                                        <b></b>
                                    </label>
                                    <legand>@Resources.Motion_Event</legand>
                                </li>
                                <li>
                                    <label class="formControl-checkbox">
                                        <input class="checkbox" type="checkbox" data-bind="checked: $data.ClipFiltermodel.IsSchedule">
                                        <b></b>
                                    </label>
                                    <legand>@Resources.Schedule</legand>
                                </li>
                                <li>
                                    <label class="formControl-checkbox">
                                        <input class="checkbox" type="checkbox" data-bind="checked: $data.ClipFiltermodel.IsTriggerEvent">
                                        <b></b>
                                    </label>
                                    <legand>@Resources.Trigger_Event</legand>
                                </li>
                                <li>
                                    <label class="formControl-checkbox">
                                        <input class="checkbox" name="RecordingType_filter" type="checkbox" data-bind="checked: $data.ClipFiltermodel.IsUserdriven">
                                        <b></b>
                                    </label>
                                    <legand>@Resources.User_Trigger </legand>
                                </li>
                                <li>
                                    <label class="formControl-checkbox">
                                        <input class="checkbox" name="RecordingType_filter" type="checkbox" data-bind="checked: $data.ClipFiltermodel.IsRuledriven">
                                        <b></b>
                                    </label>
                                    <legand>@Resources.Rule_Driven</legand>
                                </li>
                                <li>
                                    <label class="formControl-checkbox">
                                        <input class="checkbox" type="checkbox" data-bind="checked: $data.ClipFiltermodel.IsOnsite">
                                        <b></b>
                                    </label>
                                    <legand>@Resources.Onsite</legand>
                                </li>
                                <li>
                                    <label class="formControl-checkbox">
                                        <input class="checkbox" type="checkbox" data-bind="checked: $data.ClipFiltermodel.IsCloud">
                                        <b></b>
                                    </label>
                                    <legand>@Resources.Oncloud</legand>
                                </li>
                            </ul>
                        </li>
                        
                        
                        <div data-bind="visible:$data.ClipFiltermodel.IsFilterError" class="fieldErrorStorage">
                            <span class="fieldError"><b class="icon-fieldError" data-bind="event:{mouseover:showerror,mouseout:hideerror}"></b></span>
                            <div class="showerror dropdown-menu" style="display: block;"><span class="errorColor">@Resources.Warning!</span><span data-bind="text:$data.ClipFiltermodel.Filtermessage"></span></div>
                        </div>
                        <li class="clipSearchButton">
                            <button class="primary-button" id="ulSearchButton">@Resources.Search</button>
                            <button class="secondary-button" id="ulCnclSearchButton">@Resources.Cancel</button>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</li>
