<div id="assignedCredentialList" class="mpcmodel modal hide fade" role="dialog">
    <form id="assigned_credential_list_form" data-bind="busyIndicator: {show: IsLoading, blockAll: true}">
        <header class="row">
            <span>@Resources.Credential_Assigned_Cards_To</span>
            <span  data-bind="text: $data.firstName, attr: {title: $data.firstName}"></span>
            <span  data-bind="text: $data.lastName, attr: {title: $data.lastName}"></span>
        </header>
        <section class="row">
            <div id="sticky-list">
            <div class="table-wrap">
                <table class="table" id="tblAssignedCardList">
                    <thead>
                        <tr>
                            <th>
                                <label class="formControl-checkbox">
                                    <input type="checkbox" class="" name="credentialHolder_SelectAll" id="credentialHolder_SelectAll" data-bind="checked: $data.selectAll, click: $data.selectAllChanged" />
                                    <span></span>
                                </label>
                            </th>
                            <th>@Resources.Credential_Card_Numbers</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- ko foreach: $data.credentials -->
                        <tr>
                            <td>
                                <label class="formControl-checkbox">
                                    <input type="checkbox" class="" name="credentialHolder_IsSelected" id="credentialHolder_IsSelected" data-bind="checked: $data.IsSelected" />
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                <button class="btn btn-link" data-bind="text: $data.CredentialNumber, click: $parent.editCredential"></button>
                            </td>
                        </tr>
                        <!-- /ko -->
                    </tbody>
                </table>
            </div>
                </div>
        </section>
        <footer>
            <div class="modal-footer">
                <button class="primary-button" data-bind="click: $data.dissociateCredential">@Resources.Credential_Dissociate</button>
                <button class="ternary-button" data-bind="click: $data.deleteCredential">@Resources.Delete</button>
                <button class="secondary-button" data-bind="click: $data.closeCredentialsModal">@Resources.Close</button>
            </div>
        </footer>
    </form>
</div>
