<div id="unassignedCredentialList" class="mpcmodel modal hide fade" role="dialog">
    <form id="unassigned_credential_list_form" data-bind="busyIndicator: {show: IsLoading, blockAll: true}">
        <header class="row">
            <span>Unassigned Cards</span>
        </header>
        <section class="row">
            <h3>
                @if (@Html.HasPermissions(MPCPermissions.ADD_CREDENTIAL))
                {
                    <button class="btn btn-link" data-bind="click: $data.addCredential">@Resources.Credential_Create_A_Card</button>
                }
            </h3>
            <div id="sticky-list">
            <div class="table-wrap">
                <table class="table" id="tblUnassignedCardList">
                    <thead>
                        <tr>
                            <th>
                                <label class="formControl-checkbox">
                                    <input type="checkbox" class="" name="credentialHolder_SelectAll" id="credentialHolder_SelectAll" data-bind="checked: $data.selectAll, click: $data.selectAllChanged" />
                                    <span></span>
                                </label>
                            </th>
                            <th>
                                @Resources.Credential_Card_Numbers
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- ko foreach: $data.credentials -->
                        <tr>
                            <td>
                                <label class="formControl-checkbox">
                                    <input type="checkbox" class="" name="credentialHolder_IsSelected" id="credentialHolder_IsSelected" data-bind="checked: $data.IsSelected" />
                                    <span></span>
                                </label>
                            </td>
                            <td>
                                @if (@Html.HasPermissions(MPCPermissions.UPDATE_CREDENTIAL))
                                {
                                    <button class="btn btn-link" data-bind="text: $data.CredentialNumber, click: $parent.editCredential"></button>
                                }
                            </td>
                        </tr>
                        <!-- /ko -->
                    </tbody>
                </table>
            </div>
                </div>
        </section>
        <footer>
            <div class="modal-footer">
                @if (@Html.HasPermissions(MPCPermissions.DELETE_CREDENTIAL))
                {
                    <button class="ternary-button" data-bind="click: $data.deleteCredential">@Resources.Delete</button>
                }
                <button class="secondary-button" data-bind="click: $data.closeCredentialsModal">@Resources.Close</button>
            </div>
        </footer>
    </form>
</div>
