<div id="credential_holder_list_form" data-bind="busyIndicator: {show: IsLoading}">
    <div class="row formcontrol">
        <ul>
            <li>
                @if (@Html.HasPermissions(MPCPermissions.ADD_CREDENTIALHOLDER))
                {
                    <button class="primary-button" data-bind="click: $data.createCredentialHolder">@Resources.Credential_Holder_Create</button>
                }
            </li>
            <li>
                <div id='credentialHolderListSearchBtn'>
                    <input placeholder='' type='search' data-bind="autoFilter:{wrapperClassName : 'credential-holders-list'}, preventKeys: [13]">
                </div>
            </li>
        </ul>
        <div class="layoutrow peoplelist">
            <table class="table table-hover" id="tblCardHolderList">
                <thead>
                    <tr>
                        @*<th>
                            <label class="formControl-checkbox">
                                <input type="checkbox" class="checkbox" name="credentialHolder_AllSelected" id="credentialHolder_AllSelected" data-bind="checked: $data.selectAll, click: $data.selectAllChanged" />
                                <span></span>
                            </label>
                        </th>*@
                        <th><span>@Resources.Credential_Photo</span>@*<b class="icon_sort"></b>*@</th>
                        <th><span>@Resources.Credential_Names</span></th>
                        <th class="sorted-th-text"><span>@Resources.Credential_Display_Name</span><b class="icon_sort"></b></th>
                        <th class="sorted-th-text"><span>@Resources.Credential_Assigned_Cards</span><b class="icon_sort"></b></th>
                        @*<th></th>*@
                        <th></th>
                    </tr>
                </thead>
                <tbody class="credential-holders-list">
                    <tr class="stickedrow">
                        <td></td>
                        <td colspan="2">@Resources.Credential_Unassociated_Cards</td>
                        <td colspan="3">
                            <button class="btn btn-link" title="@Resources.Credential_UnassociatedCards" data-bind="visible: $data.unassignedCredentialsCount() > 0, text: $data.unassignedCredentialsCount, click: $data.showUnassignedCredentials"></button>
                            @if (@Html.HasPermissions(MPCPermissions.ADD_CREDENTIAL))
{
    <button class="btn btn-link" data-bind="click: $data.addCredential" title="@Resources.Credential_Create_New">@Resources.Credential_Create_New</button>
}
                        </td>
                    </tr>
                    <!-- ko foreach: $data.credentialHolders -->
                    <tr class="search-item">
                        @*<td>
                            <label class="formControl-checkbox">
                                <input type="checkbox" class="" name="credentialHolder_IsSelected" id="credentialHolder_IsSelected" data-bind="checked: $data.IsSelected" />
                                <span></span>
                            </label>
                        </td>*@
                        <td>
                            <div class="photo-list-item">
                                <img data-bind="attr: {src: $parent.getPhoto($data)}" />
                            </div>
                        </td>
                        <td>
                             @if (@Html.HasPermissions(MPCPermissions.UPDATE_CREDENTIALHOLDER))
                            {
                            <a data-bind="click: $parent.editCredentialHolder">
                            <span class="search-item-text" data-bind="text: $data.Name1" />
                            <br />
                            <span class="search-item-text" data-bind="text: $data.Name3" />
                            </a>
                             }
                        </td>
                        <td>
                            <span class="search-item-text" data-bind="text: $data.DisplayName" />
                        </td>
                        <td>
                            <!-- ko if: $data.Credentials().length > 0 -->
                            @if (@Html.HasPermissions(MPCPermissions.UPDATE_CREDENTIAL))
                            {
                                <button class="btn btn-link search-item-text" data-bind="text: $parent.getCredentialsText($data), click: $parent.editCredentials"></button>
                            }
                            <!-- /ko -->
                            @if (@Html.HasPermissions(MPCPermissions.ADD_CREDENTIAL))
{
    <button class="btn btn-link" data-bind="visible: $data.Credentials().length == 0, click: $parent.addCredentialForHolder" title="@Resources.Credential_Add_Card">@Resources.Credential_Add_Card</button>
}
                        </td>
                      @*  <td>
                            @if (@Html.HasPermissions(MPCPermissions.UPDATE_CREDENTIALHOLDER))
                            {
                                <a data-bind="click: $parent.editCredentialHolder">
                                    <span class="edit-icon" title="@Resources.Edit"></span>
                                </a>
                            }
                        </td>*@
                        <td>
                            @if (@Html.HasPermissions(MPCPermissions.DELETE_CREDENTIALHOLDER))
                            {
                                <a data-bind="click: $parent.deleteCredentialHolder">
                                    <span class="delete-icon" title="@Resources.Delete"></span>
                                </a>
                            }
                        </td>
                    </tr>
                    <!-- /ko -->
                </tbody>
            </table>
        </div>
    </div>
    <input type="hidden" id="credentialmgmturl" value="@Url.Action("", "CredentialMgmt")" />
</div>