<div id="manageCredentialHolder" class="mpcmodel modal hide fade" role="dialog">
    <form id="manage_credential_holder_form" data-bind="busyIndicator: {show: IsLoading, blockAll: true}">
        <header class="row">
            <span data-bind="visible: !$data.model.Id()">@Resources.Credential_Holder_Create_Title</span>
            <span data-bind="visible: !!$data.model.Id()">@Resources.Credential_Holder_Edit_Title</span>
        </header>
        <section class="row">
            <div class="credential-header">
               @Resources.People_Userdetails
            </div>
            <table>
                <tr>
                    <td>
                        <div class="image-place-holder">
                            <img data-bind="attr: { src: $data.getPhoto() }" />
                            <span id="inptCreateCdHldPhoto" data-bind="photoFile: { canUpload: $data.canLoadPhoto, photoLoaded: $data.photoLoaded }"></span>
                        </div>
                    </td>
                    <td>
                        <ul>
                            <li class="">
                                <div class="field spaceBottomStyle">
                                    <label class="floatLblDn">@Resources.Credential_Holder_First_Name</label>
                                    <input type="text" class="floatTxt myStyle" name="credentialHolder_FirstName" id="credentialHolder_FirstName" data-bind="value: $data.model.Name1" />
                                </div>
                            </li>
                            <li class="">
                                <div class="field spaceBottomStyle">
                                    <label class="floatLblDn">@Resources.Credential_Holder_Last_Name</label>
                                    <input type="text" class="floatTxt myStyle" name="credentialHolder_LastName" id="credentialHolder_LastName" data-bind="value: $data.model.Name3" />
                                </div>
                            </li>
                            <li class="">
                                <div class="field spaceBottomStyle notRequiredStyle">
                                    <label class="floatLblDn">@Resources.Credential_Display_Name</label>
                                    <input type="text" class="floatTxt myStyle" name="credentialHolder_DisplayName" id="credentialHolder_DisplayName" data-bind="value: $data.model.DisplayName" />
                                </div>
                            </li>
                            <li class="clear block-field">
                                @Resources.Credential_Associated_Cards
                            </li>
                            <li class="clear">
                                <div>
                                    <ul>
                                        <li class="asso-cards">
                                            <!-- ko foreach:$data.model.Credentials -->
                                            <!-- ko if: !!$data.IsSelected()-->
                                            <div class="secondary-button" aria-hidden="true" data-bind="value:$data.CredentialNumber,event:{mouseenter:$parent.showOptions,mouseleave:$parent.closeOptions}">
                                                <!--ko text:$data.CredentialNumber--><!--/ko-->
                                                <span>
                                                    @if (@Html.HasPermissions(MPCPermissions.UPDATE_CREDENTIAL))
                                                    {
                                                        <a class="asso-cards-edit" title="@Resources.Edit" data-bind="click:$parent.editCard"></a>
                                                    }
                                                    @if (@Html.HasPermissions(MPCPermissions.DISSOCIATE_CREDENTIAL_FROM_CREDENTIAL_HOLDER))
                                                    {
                                                        <a class="asso-cards-diss" title="@Resources.Credential_Dissociate" data-bind="click:$parent.manageDissociate"></a>
                                                    }
                                                    @if (@Html.HasPermissions(MPCPermissions.DELETE_CREDENTIAL))
                                                    {
                                                        <a class="asso-cards-del" title="@Resources.Delete" data-bind="click:$parent.manageDelete"></a>
                                                    }
                                                </span>
                                            </div>
                                            <!-- /ko -->
                                            <!-- /ko -->
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="clear">
                                <button class="secondary-button" id="btnCreateCdHldCreateNewCard" data-bind="click: $data.addCard">@Resources.Credential_Create_New_Card</button>
                                <div class="unassigned-popover">
                                    <div class="clear cardnumlist" style="position:relative">
                                        <span class="PositionBtn" id="togglePasswordField" data-toggle="popover" data-original-title="@Resources.Credential_AvailableCards" data-bind="popUp:{content: '#unassigned-credentials-template',id:'id'}">
                                            <button type="button" class="secondary-button avail-cards" aria-hidden="true">@Resources.Credential_Pick_Cards</button>
                                        </span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
        </section>
        <footer>
            <div class="modal-footer">
                <button class="primary-button" id="btnCreateCdHldSave" data-bind="enable:  $data.model.hasChanges,click: $data.saveCredentialHolder">@Resources.Save</button>                
                <button class="secondary-button" id="btnCreateCdHldCancel" data-bind="click: $data.cancelCredentialHolder">@Resources.Cancel</button>
                <span class="errorDetail errorSummary" data-bind="visible: $data.IsError, text: $data.ErrorMessage" />
            </div>
        </footer>
        <script type="text/html" id="unassigned-credentials-template">
            <div>
                <div id='unassignedSearchBtn'>
                    <input placeholder='' type='search' data-bind="autoFilter:{wrapperClassName : 'avail-cardlist'}, preventKeys: [13]">
                </div>
                <div class='avail-cardlist'>
                    <ul data-bind="foreach:$data.UnassignedCredentials">
                        <li class="unassigned-credentials-item search-item">
                            <label class='formControl-checkbox row'>
                                <input type='checkbox' class='checkbox' data-bind="checked:$data.IsSelected,click: $parent.selectedCredential" />
                                <b></b>
                            </label>
                            <strong class="search-item-text" data-bind="text:$data.CredentialNumber"></strong>
                            <span class='cardstatus search-item-text' data-bind="text:$data.CredentialStatusName"></span>
                        </li>
                    </ul>
                </div>
                <div class='popfooter'>
                    <div class=' popoverbutton buttonGroupTree'>
                        <p class='checkboxes'>
                            <!--ko if: $data.selectedCredentials() == 0-->
                            @Resources.Credential_Select_Card
                            <!--/ko-->
                            <!--ko if: $data.selectedCredentials() > 0-->
                            <!--ko text: $data.selectedCredentials() + " "--><!--/ko-->@Resources.Credential_Card_Selected<!--/ko-->
                        </p>
                        <button id='confirmButton' data-toggle='clickover' class='primary-button' data-bind="click:$data.closeUnassignedCredentials">@Resources.Done</button>
                    </div>
                </div>
            </div>
        </script>
    </form>
</div>