<div id="manageCredential" class="mpcmodel modal hide fade" role="dialog">
    <form id="manage_credential_form" data-bind="busyIndicator: {show: IsLoading, blockAll: true}">
        <header class="row">
            <span data-bind="visible: !$data.model.Id()">@Resources.Credential_Create_Card_Title</span>
            <span data-bind="visible: !!$data.model.Id()">@Resources.Credential_Edit_Card_Title</span>
        </header>
        <section class="row">
            <ul>
                <li>
                    <div class="select-field field spaceBottomStyle notRequiredStyle">
                        <label class="floatLblDn"></label>
                        <select name="credential_CreateMode" id="credential_CreateMode" data-bind="event:{change: $data.updateCreateMode}">
                            <option value="0">@Resources.Credential_Single</option>
                            <option value="1">@Resources.Credential_Multiple</option>
                        </select>
                    </div>
                </li>
                <li>
                    <div class="field spaceBottomStyle">
                        <label class="floatLblDn">@Resources.Credential_Card_Number</label>
                        <input type="text" class="floatTxt myStyle" name="credential_CardNumber" id="credential_CardNumber" maxlength="20" data-bind="value: $data.model.CredentialNumber, allowOnlyNumeric: true" />
                    </div>
                </li>
                <li>
                    <div class="select-field field spaceBottomStyle">
                        <label class="floatLblDn">@Resources.Credential_Card_Status</label>
                        <select name="credential_Status" id="credential_Status" data-bind="options: $data.statuses, optionsText: 'Name', optionsValue: 'ID', value: $data.model.CredentialStatusId"></select>
                    </div>
                </li>
                <li>
                    <div class="field spaceBottomStyle notRequiredStyle">
                        <label class="floatLblDn">@Resources.Credential_PIN</label>
                        <span class="controls passfield" for="credential_PIN" data-istext="0"><b class="icon_eye"></b></span>
                        <input type="password" class="floatTxt myStyle" name="credential_PIN" id="credential_PIN" data-bind="value: $data.model.Pin, disable: $data.model.IsVIP, valueUpdate: 'afterkeydown'" />
                    </div>
                </li>
                <li>
                    <div class="field spaceBottomStyle notRequiredStyle">
                        <label class="floatLblDn">@Resources.Credential_IssueLevel</label>
                        <input type="text" class="floatTxt myStyle" name="credential_IssueLevel" id="credential_IssueLevel" data-bind="value: $data.model.IssueLevel" />
                    </div>
                </li>
                <li>
                    <div class="field spaceBottomStyle">
                        <label class="formControl-checkbox control-box">
                            <input type="checkbox" class="checkbox" name="credential_IsTemporary" id="credential_IsTemporary" data-bind="checked: $data.model.IsTemporary" />
                            <span>@Resources.IsTemporary</span>
                        </label>
                    </div>
                </li>
            </ul>
            <h4 class="clear">@Resources.Credential_Panel_Config_Title</h4>
            <ul>
                <li>
                    <div class="select-field field spaceBottomStyle">
                        <label class="floatLblDn">@Resources.Credential_Card_Type</label>
                        <select name="credential_CardType" id="credential_CardType" data-bind="options: $data.credentialTypes, optionsText: 'Name', optionsValue: 'ID', value: $data.model.CredentialType, event:{change: $data.updateControls}"></select>
                    </div>

                </li>
                <li>
                    <div class="field spaceBottomStyle">
                        <label class="formControl-checkbox control-box">
                            <input type="checkbox" class="checkbox" name="credential_MaxUseCountEnabled" id="credential_MaxUseCountEnabled" data-bind="checked: $data.model.IsLimitedUseCount, disable: $data.model.IsVIP " />
                            <span>@Resources.Credential_Limited_Uses</span>
                        </label>
                        <input type="text" class="floatTxt myStyle limited_check" name="credential_MaxUseCount" id="credential_MaxUseCount" data-bind="value: $data.model.MaxUseCount, enable: $data.model.IsLimitedUseCount" />
                    </div>
                </li>

                @*<li>
                        <div class="field spaceBottomStyle">
                            <label class="floatLblDn">@Resources.Credential_Max_Use</label>
                            <input type="text" class="floatTxt myStyle" name="credential_MaxUseCount" id="credential_MaxUseCount" data-bind="value: $data.model.MaxUseCount, enable: $data.model.IsLimitedUseCount" />
                        </div>
                    </li>*@
            </ul>
        
        </section>
        <footer>
            <div class="modal-footer">
                
                @if (@Html.HasPermissions(MPCPermissions.ADD_CREDENTIAL) || @Html.HasPermissions(MPCPermissions.UPDATE_CREDENTIAL))
                {
                    <button class="primary-button" data-bind="enable:$data.model.hasChanges,click:saveCredential">@Resources.Save</button>
                    <button class="secondary-button" data-bind="click:canceCredential">@Resources.Cancel</button>
                }
                <span class="errorDetail errorSummary" data-bind="visible: $data.IsError, text: $data.ErrorMessage" />
            </div>
        </footer>
    </form>
    <input type="hidden" id="credentialmgmturl" value="@Url.Action("", "CredentialMgmt")" />
</div>
